
*{
    margin: 0%;
    padding: 0%;
}
.k{
    width: 100%;
}
.bold{
 font-size: 5vh;
 margin-top: 2vh;
 margin-left: 8vw;
 color: grey;
}
.bio{
    font-size: 4vh;
    margin-left: 2vw;
    margin-top: 2vh;
}
.a{
    margin-left: 6vw;
    font-size: 3vh;

}
.b{
    margin-left: 6vw;
    font-size: 3vh

}
.c{
    margin-left: 6vw;
    font-size: 3vh
}
.right{
   
    margin-right: 2vw;
    width: 120vw;
}
.c a{
    text-decoration: none;
    color: orangered;
}
.a a{
    text-decoration: none;
    color: orangered;
}
.life{
    font-size: 4vh;
    margin-left: 2vw;
    margin-top: 2vh;
}
.center{
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
  
}
.left{
     width: 40vw;
    margin-right: 2vw;
}
.kissa{
    font-size: 4vh;
    margin-left: 2vw;
}
.kisse{
    font-size: 3vh;
    margin-left: 3vw;
    margin-top: 1vh;
}